In [1]:
from src.d00_utils import *
from src.d01_data import *
import_mendatory_libraries()

In [2]:
housing = pd.DataFrame(load_housing_train_DF())

### Cleaning Data

In [4]:
#Missing values for bedroom filling with median

housing["total_bedrooms"].fillna(housing["total_bedrooms"].median(), inplace =True)

In [5]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,286600.0,<1H OCEAN,2
1,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,340600.0,<1H OCEAN,5
2,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,196900.0,NEAR OCEAN,2
3,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,46300.0,INLAND,2
4,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,254500.0,<1H OCEAN,3

### Handling Categorical Attributes

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
cat_encoder = OneHotEncoder()

In [8]:
housing_cat_1hot = cat_encoder.fit_transform(housing[["ocean_proximity"]])

In [9]:
housing_cat_1hot.toarray()

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [ ]:
cat_encoder.categories_

In [12]:
housing.append(cat_encoder.categories_)

,0,1,2,3,4,households,housing_median_age,income_cat,latitude,longitude,median_house_value,median_income,ocean_proximity,population,total_bedrooms,total_rooms
0,NaN,NaN,NaN,NaN,NaN,339.0,38.0,2.0,37.29,-121.89,286600.0,2.7042,<1H OCEAN,710.0,351.0,1568.0
1,NaN,NaN,NaN,NaN,NaN,113.0,14.0,5.0,37.05,-121.93,340600.0,6.4214,<1H OCEAN,306.0,108.0,679.0
2,NaN,NaN,NaN,NaN,NaN,462.0,31.0,2.0,32.77,-117.20,196900.0,2.8621,NEAR OCEAN,936.0,471.0,1952.0
3,NaN,NaN,NaN,NaN,NaN,353.0,25.0,2.0,36.31,-119.61,46300.0,1.8839,INLAND,1460.0,371.0,1847.0
4,NaN,NaN,NaN,NaN,NaN,1463.0,17.0,3.0,34.23,-118.59,254500.0,3.0347,<1H OCEAN,4459.0,1525.0,6592.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16508,NaN,NaN,NaN,NaN,NaN,258.0,40.0,2.0,33.88,-117.56,113000.0,2.0682,INLAND,1052.0,294.0,1196.0
16509,NaN,NaN,NaN,NaN,NaN,765.0,9.0,3.0,34.09,-116.40,97800.0,3.2723,INLAND,2098.0,872.0,4855.0
16510,NaN,NaN,NaN,NaN,NaN,356.0,31.0,3.0,33.82,-118.01,225900.0,4.0625,<1H OCEAN,1356.0,380.0,1960.0
16511,NaN,NaN,NaN,NaN,NaN,639.0,52.0,3.0,37.77,-122.45,500001.0,3.5750,NEAR BAY,1269.0,682.0,3095.0
0,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN